.nav {
	&__item {
		display: inline-block;

		cursor: pointer;
	}

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__link {
		position: relative;

		color: $color-primary;

		font-weight: 700;
		font-size: 15px;
		line-height: 20px;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;

			width: 0%;
			height: 1px;
			border-radius: 3px;

			background-color: $color-primary;

			transition: width 0.2s ease-in-out;

			content: "";
		}

		&:hover::before {
			width: 100%;
		}

		&.make-order {
			color: #fff;
			font-weight: 400;
			font-size: 14px;

			&:hover::before {
				content: none;
			}
		}
	}
}
