.two-clicks {
	padding: 29px 0 26px;

	background-color: #5cbad0;
	background-image: url(../images/main/two-clicks.svg);
	background-repeat: no-repeat;
	background-position: 65% center;

	@include media("max", "md") {
		margin: 15px 0;

		background-position: center;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media("max", "md") {
			flex-direction: column;
		}
	}

	&__text-top {
		color: #ffffff;
		font-weight: 700;
		font-size: 14px;
		line-height: 142.4%;
		text-transform: uppercase;

		@include media("max", "md") {
			font-size: 12px;
		}
	}

	&__text-bottom {
		margin-top: 8px;

		color: #ffffff;
		font-weight: 500;
		font-size: 20px;
		line-height: 142.4%;

		@include media("max", "lg") {
			max-width: 480px;
		}

		@include media("max", "md") {
			font-size: 16px;
		}

		span {
			font-weight: 900;
		}
	}

	&__btn {
		@include media("max", "md") {
			margin-top: 55px;
		}
	}
}
