.email {
	position: relative;

	display: flex;
	align-items: center;
	padding: 0px 13px 3px 21px;

	font-size: 14px;
	line-height: 18px;

	&::before {
		position: absolute;
		left: 0;

		width: 12px;
		height: 10px;

		background-image: url(../images/ico/ico-email-header.svg);
		background-repeat: no-repeat;
		background-size: contain;

		content: "";
	}

	&__main-link {
		span {
			color: $color-second;
			font-weight: 600;
		}
	}
}
