.phones {
	position: relative;

	display: flex;
	align-items: center;
	width: max-content;
	padding: 0px 13px 0px 21px;

	font-size: 14px;
	line-height: 18px;

	&::before {
		position: absolute;
		left: 3px;

		width: 7px;
		height: 12px;

		background-image: url(../images/ico/ico-phone-header.svg);
		background-repeat: no-repeat;
		background-size: contain;

		content: "";
	}

	&::after {
		position: absolute;
		// top: 50%;
		right: 0;

		width: 0;
		height: 0;
		margin-top: 6px;
		border-color: $color-primary transparent transparent;
		border-style: solid;

		border-width: 4px;

		content: "";

		pointer-events: none;
	}

	&__main-link {
		span {
			color: $color-second;
			font-weight: 600;
		}
	}
	&:hover {
		&::after {
			margin-top: -6px;
			// border-color: transparent transparent #cecece;

			transform: rotate(180deg);
		}
		.phones__dropdown-list {
			display: block;
		}
	}
	&__dropdown-list {
		position: absolute;
		top: 17px;
		right: 0;
		z-index: 100;

		display: none;
		width: max-content;
		border-radius: 3px;

		white-space: nowrap;

		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	}

	&__dropdown-item {
		display: flex;
		padding: 6px 15px 5px;

		&:hover {
			background-color: $bg-gray;
		}
	}

	&__dropdown-link {
		display: inline-block;
		// padding: 12px 0;

		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
	}

	&__img-wrap {
		min-width: 16px;
		max-width: 16px;
		margin-right: 13px;
	}

	&__img {
		max-width: 100%;
		height: auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
	}

	&__operator {
		margin-left: 7px;

		color: #999999;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}

	&__description {
		color: #999999;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
}
